<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>carousel demo</title>
    <link rel="stylesheet" href="demo.css">
</head>
<body>
<div class="demo-carousel">
    <div class="slides">
        <div class="slide big"></div>
        <div class="slide small"></div>
        <div class="slide tiny"></div>
        <div class="slide"></div>
        <div class="slide big"></div>
        <div class="slide big"></div>
        <div class="slide tiny"></div>
        <div class="slide small"></div>
        <div class="slide"></div>
    </div>
    <div class="motor">

    </div>
    <div class="controller">
        <div class="control next">></div>
        <div class="control previous"><</div>
    </div>
</div>
<script src="demo.js"></script>
</body>
</html>
